.content {
  min-height: calc(100vh - 62px - 88px);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}
.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.books .book {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: var(--primary-radius);
  -webkit-border-radius: var(--primary-radius);
  -moz-border-radius: var(--primary-radius);
  -ms-border-radius: var(--primary-radius);
  -o-border-radius: var(--primary-radius);
}

.books .book img {
  transition: var(--primary-transition);
  width: 100%;
  height: 350px;
  max-width: 100%;
  -webkit-transition: var(--primary-transition);
  -moz-transition: var(--primary-transition);
  -ms-transition: var(--primary-transition);
  -o-transition: var(--primary-transition);
}

.books .book img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.books .book .book-info {
  padding: 10px;
  gap: 15px;
  color: #444;
}

.books .book .book-info .book-title,
.books .book .book-info .book-author,
.books .book .book-info .book-category {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.books .book .book-info .buttons button,
.books .book .book-info .buttons button a {
  cursor: pointer;
  color: #fff;
}
